    <h2>MTE Manager</h2>
    <button (click)="loadData()" 
                        class="btn waves-effect waves-light" 
                        type="submit" name="action">Load Data</button>


                        <div class='panel panel-primary'>
    <table class='table table-striped table-condensed' *ngIf='excelDataSample && excelDataSample.length'>
                <thead>
                    <tr>
                        <th style="min-width: 80px;">Number</th>
                        <th style="min-width: 80px;">Status</th>
                        <th style="min-width: 80px;">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='#sampleData of excelDataSample'>
                        <td>{{ sampleData.Incident_Number }}</td>
                        <td>{{ sampleData.Status }}</td>
                        <td>{{ sampleData.Description }}</td>
                    </tr>
                </tbody>
            </table>
    </div>

    <div class="row">
    <!--<div class="col-md-6">
        <div style="display: block;" *ngIf='excelDataSample_month && excelDataSample_month.length'>
        <canvas baseChart width="400" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas> 
        </div>
    </div> -->
    <div class="col-md-6" style="margin-bottom: 10px">
        <table class="table table-responsive table-condensed">
        <tr>
            <th *ngFor="#label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="#d of lineChartData">
            <td *ngFor="#label of lineChartLabels; #j=index">{{d && d.data[j]}}</td>
        </tr>
        </table>
    </div> 

    </div>

    <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx,.xlsx,.xls">
